{% extends 'admin_base.html' %}

{% block title %} Add Technician {% endblock title %}

{% block technicianactive %} active {% endblock technicianactive %}

{% block body %}

<div class="add-technician-form flex-column-center">
    {% if employee_id == 0 %}
    <h2 class="md-heading text-center">Add an Employee</h2>
    {% else %}
    <h2 class="md-heading text-center">Edit Employee Details</h2>
    {% endif %}

    <form action="" method="post"> {% csrf_token %}
    <div class="form-inputs flex-column-center">
    {% for form in forms %}
    {{form}}
    {% endfor %}
    </div>

    <div class="add-btn-div text-center">
        <input type="submit" value="Add Employee">
    </div>
    </form>
</div>

{% endblock body %}