{% extends 'admin_base.html' %}

{% block title %} Edit Profile - ARYAN {% endblock title %}

{% block adminprofileactive %} active {% endblock adminprofileactive %}

{% block body %}

<div class="user-admin-change-form">
    {% if messages %}
            <div style="width: 55%; margin: auto; margin-bottom: 2rem;" class="messages-div flex-row-center">
                {% for message in messages %}
                <h2 class="{{message.tags}} sm-heading">{{message}} {{message.extra_tags}}</h2>
                <i class="fas fa-times cross"></i>
                {% endfor %}
            </div>
            {% endif %}

    {% for form in forms %}
        {% if form.errors %}
        <div class="messages-div flex-row-center">
            <h2 class="danger">{{form.errors}}</h2>
            <i class="fas fa-times cross"></i>
        </div>
        {% endif %}
        {% endfor %}

    <div class="edit-profile-heading">
        <h2 class="md-heading">Edit your Profile</h2>
    </div>
    <form action="{% url 'admin_edit_profile' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <div
            class="picture-div flex-column-no-center {% if admin_image_object %} profile-image {% else %} image-icon {% endif %}">

            {% if admin_image_object %}

            <a href="{{admin_image_object.profile_picture.url}}" target="_blank">
            <div class="profile-image-div">
                <img src="{{admin_image_object.profile_picture.url}}" alt="">
            </div>
        </a>

            {% else %}

            <label for="id_profile_picture"></label>

            {% endif %}

            {% if admin_image_object %}

            <div class="choose-image-no-hidden">
                <label for="id_profile_picture" id="pp_label">Change Profile Picture</label>
                <input type="file" name="profile_picture" id="id_profile_picture" accept="image/*">
            </div>
            {% else %}

            <input type="file" name="profile_picture" id="id_profile_picture" hidden="" accept="image/*">

            {% endif %}

        </div>

        <div class="user-admin-change-input flex-column-no-center">
            {% for form in forms %}
            <div class="user-admin-change-fields flex-row-no-center">{{form}}</div>
            {% endfor %}
        </div>

        <button type="submit" class="submit-btn"> Submit </button>
    </form>
</div>

{% endblock body %}