{% extends 'admin_base.html' %}

{% block title %} Admin Change Password - ARYAN {% endblock title %}

{% block adminpassactive %} active {% endblock adminpassactive %}

{% block body %}

<div class="change-password-form">
    {% if messages %}
            <div style="width: 55%; margin: auto; margin-bottom: 2rem;" class="messages-div flex-row-center">
                {% for message in messages %}
                <h2 class="{{message.tags}} sm-heading">{{message}} {{message.extra_tags}}</h2>
                <i class="fas fa-times cross"></i>
                {% endfor %}
            </div>
            {% endif %}

    {% for form in forms %}
        {% if form.errors %}
        <div class="messages-div flex-row-center">
            <h2 class="danger">{{form.errors}}</h2>
            <i class="fas fa-times cross"></i>
        </div>
        {% endif %}
        {% endfor %}
<div class="change-password-form-div">
    <form action="{% url 'admin_change_password' %}" method="post"> {% csrf_token %}

    <div class="password-input-div flex-column-no-center">
        <div class="password-input">{{forms.old_password}}</div> 
        <div class="password-input">{{forms.new_password1}}</div>
        <div class="password-input">{{forms.new_password2}}</div>
    </div>

    <div class="submit-btn">
        <button type="submit">Submit</button>
    </div>
    </form>
</div>
</div>

{% endblock body %}