{% extends 'admin_base.html' %}

{% block title %} Assigned Work - ARYAN {% endblock title %}

{% block assignedactive %} active {% endblock assignedactive %}

{% block body %}

<div class="table-div" id="assigned-list-table">
        <h2 class="md-heading text-center">Assigned Work Details</h2>
        <table>
            <tr>
                <th>Req. ID</th>
                <th class="big-cell">Request Info</th>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>Mobile</th>
                <th>Technician</th>
                <th class="big-date-cell">Assigned Date</th>
                <th>Actions</th>
            </tr>

            {% if assigned_orders %}
            {% for order in assigned_orders %}
            <tr>
                <td>{{order.request_id}}</td>
                <td>{{order.request_info|truncatechars:25}}</td>
                <td>{{order.name}}</td>
                <td>{{order.address_line_1}}</td>
                <td>{{order.city}}</td>
                <td>{{order.mobile}}</td>
                <td>{{order.technician}}</td>
                <td>{{order.date}}</td>
                <td><div class="action-btn flex-row-space-evenly">
                    <a href="{% url 'view_assigned_order' order.request_id %}" class="view-eye-btn"><i class="fas fa-eye"></i></a>
                    <a href="{% url 'delete_assigned_order' order.request_id %}" class="delete-assigned-btn"><i class="fas fa-trash-alt"></i></a>
                </div></td>
            </tr>
            {% endfor %}

            {% else %}
            <tr>
                <td colspan=9><div class="text-center">There are no work assigned </div></td>
            </tr>
            {% endif %}
            
        </table>
    </div>

{% endblock body %}