{% extends 'admin_base.html' %}

{% block title %} Assigned Work - OSMS {% endblock title %}

{% block assignedactive %} active {% endblock assignedactive %}

{% block body %}

<div class="table-div" id="assigned-table">
        <h2 class="md-heading text-center">Assigned Work Details</h2>
        <table>
            <tr>
                <th>Req. ID</th>
                <th class="big-cell">Request Info</th>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>Mobile</th>
                <th>Technician</th>
                <th class="big-date-cell">Assigned Date</th>
                <th>Actions</th>
            </tr>

            {% for order in assigned_orders %}
            <tr>
                <td>{{order.request_id}}</td>
                <td>{{order.request_info|truncatechars:25}}</td>
                <td>{{order.name}}</td>
                <td>{{order.address_line_1}}</td>
                <td>{{order.city}}</td>
                <td>{{order.mobile}}</td>
                <td>{{order.technician}}</td>
                <td>{{order.date}}</td>
                <td>Actions</td>
            </tr>
            {% endfor %}
            
        </table>
    </div>

{% endblock body %}