{% extends 'admin_base.html' %}

{% block title %} Work Report - ARYAN {% endblock title %}

{% block workreportactive %} active {% endblock workreportactive %}

{% block body %}

<div class="work-report-form flex-row-center">
    <form action="" method="post"> {% csrf_token %}
        {{forms.start_date}}  to  {{forms.end_date}}
        <input type="submit" value="Submit">
    </form>
</div>

{% if work_report_object %}

<div class="table-div" id="assigned-list-table">
    <h2 class="md-heading text-center">Work Report</h2>
    <table>
        <tr>
            <th>Req. ID</th>
            <th class="big-cell">Request Info</th>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Mobile</th>
            <th>Technician</th>
            <th class="big-date-cell">Assigned Date</th>
            <th>Actions</th>
        </tr>

        {% if work_report_object %}
        {% for work in work_report_object %}
        <tr>
            <td>{{work.request_id}}</td>
            <td>{{work.request_info|truncatechars:25}}</td>
            <td>{{work.name}}</td>
            <td>{{work.address_line_1}}</td>
            <td>{{work.city}}</td>
            <td>{{work.mobile}}</td>
            <td>{{work.technician}}</td>
            <td>{{work.date}}</td>
            <td>
                <div class="action-btn flex-row-space-evenly">
                    <a href="" class="delete-assigned-btn"><i class="fas fa-trash-alt"></i></a>
                </div>
            </td>
        </tr>
        {% endfor %}

        {% else %}
        <tr>
            <td colspan=9>
                <div class="text-center">There are no work assigned </div>
            </td>
        </tr>
        {% endif %}

    </table>
</div>
{% endif %}

{% endblock body %}