.navbar{
    width: 100%;
    background-color: rgb(101, 101, 221, 0.9);
}

.logo{
    margin-left: 2rem;
    color: white;
}

.navbar .logout-btn{
    border: 1px solid white;
    padding: .7rem 1.2rem;
    font-size: 1.7rem;
    margin: 1rem;
    color: white;
    transition: background-color, 0.3s ease-in;
}

.navbar .logout-btn:hover{
    background-color: rgba(0, 0, 0, 0.15);
}

/* #################### STYLING SIDE NAVIGATION BAR ############### */

.side-navbar{
    width: 25rem;
    height: 100%;
    padding: 5rem 1rem;
    background-color: rgba(211, 211, 211, 0.2);
    position: fixed;
    top: 5.6rem;
    left: 0;
    z-index: 1;
}

.side-navbar a{
    margin-bottom: 1rem;
    display: block;
    padding: .8rem 1.5rem;
    font-size: 1.6rem;
}

.side-navbar a:hover{
    color: white;
    background-color: rgb(101, 101, 221, 0.9);
}

.active {
    color: white;
    background-color: rgb(101, 101, 221, 0.9);
}

.main-content{
    margin-left: 25rem;
}

.side-navbar a:first-child::before{
    content: "\f3fd";
    font-family: 'Font Awesome\ 5 Free';
    font-size: 1.7rem;
    color: black;
    font-weight: 900;
    margin-right: 1rem;
}

.side-navbar a:nth-child(2):before{
    content: "\f0b1";
    font-family: 'Font Awesome\ 5 Free';
    font-size: 1.7rem;
    color: black;
    font-weight: 900;
    margin-right: 1rem;
}

.side-navbar a:nth-child(3):before{
    content: "\f784";
    font-family: 'Font Awesome\ 5 Free';
    font-size: 1.7rem;
    color: black;
    font-weight: 900;
    margin-right: 1.3rem;
}

.side-navbar a:nth-child(4):before{
    content: "\f51c";
    font-family: 'Font Awesome\ 5 Free';
    font-size: 1.7rem;
    color: black;
    font-weight: 900;
    margin-right: .6rem;
}