{% extends 'dashboard_base.html' %}

{% block title %} Write a Review - ARYAN {% endblock title %}

{% block reviewactive %} active {% endblock reviewactive %}

{% block body %}
<div class="review-form">
    {% if messages %}
    <div style="width: 55%; margin: auto; margin-bottom: 2rem;" class="messages-div flex-row-center">
        {% for message in messages %}
        <h2 class="{{message.tags}} sm-heading">{{message}} {{message.extra_tags}}</h2>
        <i class="fas fa-times cross"></i>
        {% endfor %}
    </div>
    {% endif %}
    <h2 class="md-heading">Write a Review</h2>
    <form action="" method="post"> {% csrf_token %}
        <div class="review-form-input flex-column-no-center">
            {% for form in forms %}
            {{form}}
            {% endfor %}
        </div>

        <div class="submit-btn">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
{% endblock body %}