{% extends 'dashboard_base.html' %}

{% block profileactive %} active {% endblock profileactive %}

{% block title %}User Profile - ARYAN {% endblock title %}

{% block body %}

<div class="user-change-form">

    <div class="edit-profile-heading">
        <h2 class="md-heading">Edit your Profile</h2>
    </div>
    <form action="{% url 'user_profile' %}" method="POST"> {% csrf_token %}
        <div class="user-change-input flex-column-no-center">
            {% for form in forms %}
            <div class="user-change-fields flex-row-no-center">{{form}}</div>
            {% endfor %}
        </div>

        <button type="submit" class="submit-btn"> Submit </button>
    </form>
</div>

{% endblock body %}